# Logs and databases #
######################
*.log
*__pycache__
*.cache
*questions_by_country*.png
# Specific Folders #
####################

test_outputs/   # created by test.py
outputs/         # created by hydra
src/__pycache__

#####################
.png
wandb-plots/
